.col-md-4{
  height: 600px;
}
h1{
  font-family: Microsoft JhengHei;
  font-weight: bolder;
}

h3{
  font-family: Microsoft JhengHei;
  font-weight: bold;
}

.info{
  font-family: Microsoft JhengHei;
}

.location{
  font-family: Microsoft JhengHei;
}
